# Joshua Milliken

## Best Inequality Statistic for Corruption Perception Predictions

Looking at many inequality indicators and finding which has the highest correlation with the Corruption Perception Index (CPI).

In [91]:
import datapackage
import pandas as pd

data_url = 'https://datahub.io/core/corruption-perceptions-index/datapackage.json'

package = datapackage.Package(data_url)

resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
data

,Jurisdiction,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Afghanistan,-,-,-,-,-,-,-,2.5,-,1.8,1.5,1.3,1.4,1.52,8,8,12,11
1,Albania,-,2.3,-,-,2.5,2.5,2.5,2.4,2.6,2.9,3.4,3.2,3.3,3.05,33,31,33,36
2,Algeria,-,-,-,-,-,2.6,2.7,2.8,3.1,3,3.2,2.8,2.9,2.9,34,36,36,36
3,Angola,-,-,1.7,-,1.7,1.8,2,2,2.2,2.2,1.9,1.9,1.9,2.01,22,23,19,15
4,Argentina,3,3,3.5,3.5,2.8,2.5,2.5,2.8,2.9,2.9,2.9,2.9,2.9,3,35,34,34,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,Viet Nam,-,-,-,-,-,-,-,-,2.6,2.6,2.7,-,-,-,-,-,-,-
223,Yemen,-,-,-,-,-,2.6,2.4,2.7,2.6,2.5,2.3,2.1,2.2,2.08,23,18,19,18
224,Yugoslavia,3,2,1.3,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
225,Zambia,3.5,3.5,3.4,2.6,2.6,2.5,2.6,2.6,2.6,2.6,2.8,3,3,3.2,37,38,38,38
226,Zimbabwe,4.2,4.1,3,2.9,2.7,2.3,2.3,2.6,2.4,2.1,1.8,2.2,2.4,2.23,20,21,21,21

In [3]:

import pandas as pd
#There are a lot of files, just showing I know how to load them from our repo.
#WID_CC_url = 'https://raw.githubusercontent.com/data301-2021-winter1/group35-project/main/data/raw/WID_countries.csv?token=AVQ3CKO3YZOML76IZ4R736LBOMI5Y'
WID_CC = pd.read_csv('../data/raw/WID_countries.csv', sep = ";")
#WID_CC.filter(like = 'AM', axis  = 0)
WID_CC.head()

,alpha2,titlename,shortname,region,region2
0,AM,Armenia,Armenia,Asia,Western Asia
1,AN,the Netherlands Antilles,Netherlands Antilles,Americas,Caribbean
2,AO,Angola,Angola,Africa,Middle Africa
3,AR,Argentina,Argentina,Americas,South America
4,AS,American Samoa,American Samoa,Oceania,Oceania (excl. Australia and New Zealand)

In [7]:
for c in range(0, len(WID_CC[1])):
    if WID_CC['titlename'][c] == "Seychelles":
        sey = c
        break

WID_CC.iloc[[sey]]

KeyError: 1

In [ ]:
#WID_SC_url = 'https://raw.githubusercontent.com/data301-2021-winter1/group35-project/main/data/raw/WID_data_SC.csv?token=AVQ3CKP4L4ZREXV34IDYTULBOMSYA'
WID_SC = pd.read_csv("../data/raw/WID_data_SC.csv", sep = ";")

WID_SC.head()

  country    variable percentile  year   value  age pop
0      SC  sptinc992j      p0p63  1980  0.1909  992   j
1      SC  sptinc992j      p0p63  1981  0.1909  992   j
2      SC  sptinc992j      p0p63  1982  0.1909  992   j
3      SC  sptinc992j      p0p63  1983  0.1909  992   j
4      SC  sptinc992j      p0p63  1984  0.1909  992   j

In [44]:
#Finding all the variables
varlist = []
for c in range(0, len(WID_SC['variable'])):
    if WID_SC['variable'][c] not in varlist:
        varlist.append(WID_SC['variable'][c])

varlist

NameError: name 'WID_SC' is not defined

In [ ]:
#Finding Key Percentiles
KeyPer = ["p90p100", "p50p90", "p0p50", "p99p100", ]
SCV = pd.DataFrame(columns = WID_SC.columns)
for c in KeyPer:
    SCV = SCV.append(WID_SC.loc[WID_SC["variable"] == 'sptinc992j'].loc[WID_SC["percentile"] == c], ignore_index=True)
SCV
{'sptinc992j' : 'Share Nat. Income'}

{'sptinc992j': 'Share Nat. Income'}

In [67]:
#Finding Key Income/Welath Variables
KeyIW = ['anninc992i', 'agdpro992i', 'anweal992i', 'wwealn999i', 'rptinc992j', 'npopul999i']
KeyIWD = {
    'sptinc992j' : 'Share Nat. Income',
    'anninc992i' : 'Nat. Income',
    'agdpro992i': 'GDP',
    'anweal992i' : 'Nat. Wealth',
    'wwealn999i': 'Nat. Wealth to Income',
    'rptinc992j': 't10/b50 ratio', 
    'npopul999i' : 'Population'}
SCIW = pd.DataFrame(columns = WID_SC.columns)
for c in KeyIWD:
    SCIW = SCIW.append(WID_SC.loc[WID_SC["variable"] == c], ignore_index=True)
SCIW

      country    variable percentile  year       value  age pop
0          SC  sptinc992j      p0p63  1980      0.1909  992   j
1          SC  sptinc992j      p0p63  1981      0.1909  992   j
2          SC  sptinc992j      p0p63  1982      0.1909  992   j
3          SC  sptinc992j      p0p63  1983      0.1909  992   j
4          SC  sptinc992j      p0p63  1984      0.1909  992   j
...       ...         ...        ...   ...         ...  ...  ..
15685      SC  npopul999i     p0p100  2015  94978.0000  999   i
15686      SC  npopul999i     p0p100  2016  95710.0000  999   i
15687      SC  npopul999i     p0p100  2017  96418.0000  999   i
15688      SC  npopul999i     p0p100  2018  97096.0000  999   i
15689      SC  npopul999i     p0p100  2019  97739.0000  999   i

[15690 rows x 7 columns]

In [ ]:
## Raname all the values
SCIW['variable'].replace(KeyIWD, inplace = True)
SCV['variable'].replace({'sptinc992j' : 'Share Nat. Income'}, inplace=True)
Asc = pd.concat([SCV, SCIW], ignore_index = True)
Asc

    country           variable percentile  year       value  age pop
0        SC  Share Nat. Income    p90p100  1980      0.5271  992   j
1        SC  Share Nat. Income    p90p100  1981      0.5271  992   j
2        SC  Share Nat. Income    p90p100  1982      0.5271  992   j
3        SC  Share Nat. Income    p90p100  1983      0.5271  992   j
4        SC  Share Nat. Income    p90p100  1984      0.5271  992   j
..      ...                ...        ...   ...         ...  ...  ..
365      SC         Population     p0p100  2015  94978.0000  999   i
366      SC         Population     p0p100  2016  95710.0000  999   i
367      SC         Population     p0p100  2017  96418.0000  999   i
368      SC         Population     p0p100  2018  97096.0000  999   i
369      SC         Population     p0p100  2019  97739.0000  999   i

[370 rows x 7 columns]

In [ ]:
## Get only years 1998-2019
Asc = Asc.loc[Asc['year'].between(1998, 2020)]
# Asc['year'].between(1998, 2020)
Asc

    country           variable percentile  year       value  age pop
18       SC  Share Nat. Income    p90p100  1998      0.5271  992   j
19       SC  Share Nat. Income    p90p100  1999      0.5271  992   j
20       SC  Share Nat. Income    p90p100  2000      0.5262  992   j
21       SC  Share Nat. Income    p90p100  2001      0.5253  992   j
22       SC  Share Nat. Income    p90p100  2002      0.5244  992   j
..      ...                ...        ...   ...         ...  ...  ..
365      SC         Population     p0p100  2015  94978.0000  999   i
366      SC         Population     p0p100  2016  95710.0000  999   i
367      SC         Population     p0p100  2017  96418.0000  999   i
368      SC         Population     p0p100  2018  97096.0000  999   i
369      SC         Population     p0p100  2019  97739.0000  999   i

[154 rows x 7 columns]

# All Countries

In [ ]:
import pandas as pd
WID_CC = pd.read_csv('../data/raw/WID_countries.csv', sep = ";")
WID_CC.rename({})
WID_CC.head()

,alpha2,titlename,shortname,region,region2
0,AM,Armenia,Armenia,Asia,Western Asia
1,AN,the Netherlands Antilles,Netherlands Antilles,Americas,Caribbean
2,AO,Angola,Angola,Africa,Middle Africa
3,AR,Argentina,Argentina,Americas,South America
4,AS,American Samoa,American Samoa,Oceania,Oceania (excl. Australia and New Zealand)

In [205]:
# Getting Country Codes of just the top developed countries in Africa
AfDev = pd.read_csv('../data/raw/AfricanDevelopment.csv')
AfDev = AfDev[0:27]
Af_CC = pd.DataFrame(columns = WID_CC.columns)
for c in AfDev['country']:
    Af_CC = Af_CC.append(WID_CC.loc[WID_CC['titlename'] == c], ignore_index=True)
Af_CC = Af_CC.drop(Af_CC.index[Af_CC['titlename'] == 'Namibia'])
#Af_CC = Af_CC.drop(Af_CC.index[Af_CC['titlename'] == 'Sao Tome and Principe'])
Af_CC = Af_CC.reset_index(drop=True)
Af_CC

,alpha2,titlename,shortname,region,region2
0,SC,Seychelles,Seychelles,Africa,Eastern Africa
1,MU,Mauritius,Mauritius,Africa,Eastern Africa
2,DZ,Algeria,Algeria,Africa,Northern Africa
3,TN,Tunisia,Tunisia,Africa,Northern Africa
4,BW,Botswana,Botswana,Africa,Southern Africa
5,LY,Libya,Libya,Africa,Northern Africa
6,ZA,South Africa,South Africa,Africa,Southern Africa
7,GA,Gabon,Gabon,Africa,Middle Africa
8,EG,Egypt,Egypt,Africa,Northern Africa
9,MA,Morocco,Morocco,Africa,Northern Africa
10,ST,Sao Tome and Principe,Sao Tome and Principe,Africa,Middle Africa
11,GH,Ghana,Ghana,Africa,Western Africa
12,ZM,Zambia,Zambia,Africa,Eastern Africa
13,GQ,Equatorial Guinea,Equatorial Guinea,Africa,Middle Africa
14,KE,Kenya,Kenya,Africa,Eastern Africa
15,AO,Angola,Angola,Africa,Middle Africa
16,CM,Cameroon,Cameroon,Africa,Middle Africa
17,ZW,Zimbabwe,Zimbabwe,Africa,Eastern Africa
18,KM,Comoros,Comoros,Africa,Eastern Africa
19,RW,Rwanda,Rwanda,Africa,Eastern Africa
20,NG,Nigeria,Nigeria,Africa,Western Africa
21,TZ,Tanzania,Tanzania,Africa,Eastern Africa
22,UG,Uganda,Uganda,Africa,Eastern Africa
23,MR,Mauritania,Mauritania,Africa,Western Africa

In [206]:
## Combining all the countries to one df
WID_SC = pd.read_csv("../data/raw/WID_data_SC.csv", sep = ";")
AllC = pd.DataFrame(columns = WID_SC.columns)
AllList = []
for cc in Af_CC['alpha2']:
    AllList.append(pd.read_csv(f"../data/raw/WID_data_{cc}.csv", sep = ';'))
AllC = pd.concat(AllList)
AllC.head()


#AllC.head()

  country    variable percentile  year   value  age pop
0      SC  sptinc992j      p0p63  1980  0.1909  992   j
1      SC  sptinc992j      p0p63  1981  0.1909  992   j
2      SC  sptinc992j      p0p63  1982  0.1909  992   j
3      SC  sptinc992j      p0p63  1983  0.1909  992   j
4      SC  sptinc992j      p0p63  1984  0.1909  992   j

In [207]:
# Getting Key Variables
KeyIWD = {
    'sptinc992j' : 'Share Nat. Income',
    'anninc992i' : 'Nat. Income',
    'agdpro992i': 'GDP',
    'anweal992i' : 'Nat. Wealth',
    'wwealn999i': 'Nat. Wealth to Income',
    'rptinc992j': 't10/b50 ratio', 
    'npopul999i' : 'Population'}
AllIW = pd.DataFrame(columns = AllC.columns)
for c in KeyIWD:
    AllIW = AllIW.append(AllC.loc[AllC["variable"] == c], ignore_index=True)
AllIW

       country    variable percentile  year         value  age pop
0           SC  sptinc992j      p0p63  1980  1.909000e-01  992   j
1           SC  sptinc992j      p0p63  1981  1.909000e-01  992   j
2           SC  sptinc992j      p0p63  1982  1.909000e-01  992   j
3           SC  sptinc992j      p0p63  1983  1.909000e-01  992   j
4           SC  sptinc992j      p0p63  1984  1.909000e-01  992   j
...        ...         ...        ...   ...           ...  ...  ..
376723      MR  npopul999i     p0p100  2015  4.046301e+06  999   i
376724      MR  npopul999i     p0p100  2016  4.163533e+06  999   i
376725      MR  npopul999i     p0p100  2017  4.282570e+06  999   i
376726      MR  npopul999i     p0p100  2018  4.403313e+06  999   i
376727      MR  npopul999i     p0p100  2019  4.525696e+06  999   i

[376728 rows x 7 columns]

In [208]:
# Getting Key Percentiles
KeyPer = ["p90p100", "p50p90", "p0p50", "p99p100", ]
AllPer = pd.DataFrame(columns = AllIW.columns)
for c in KeyPer:
    AllPer = AllPer.append([AllIW.loc[AllIW["variable"] == 'sptinc992j'].loc[AllIW["percentile"] == c]] + [AllIW.loc[AllIW["variable"] != 'sptinc992j']],
     ignore_index=True)
AllPer

      country    variable percentile  year         value  age pop
0          SC  sptinc992j    p90p100  1980  5.271000e-01  992   j
1          SC  sptinc992j    p90p100  1981  5.271000e-01  992   j
2          SC  sptinc992j    p90p100  1982  5.271000e-01  992   j
3          SC  sptinc992j    p90p100  1983  5.271000e-01  992   j
4          SC  sptinc992j    p90p100  1984  5.271000e-01  992   j
...       ...         ...        ...   ...           ...  ...  ..
24083      MR  npopul999i     p0p100  2015  4.046301e+06  999   i
24084      MR  npopul999i     p0p100  2016  4.163533e+06  999   i
24085      MR  npopul999i     p0p100  2017  4.282570e+06  999   i
24086      MR  npopul999i     p0p100  2018  4.403313e+06  999   i
24087      MR  npopul999i     p0p100  2019  4.525696e+06  999   i

[24088 rows x 7 columns]

In [209]:
# Getting Only 1998-2015
AllPer['year'] = AllPer['year'].astype(int)
All_Y = pd.DataFrame(columns = AllPer.columns)
for c in range(1998,2016):
    All_Y = All_Y.append(AllPer.loc[AllPer['year'] == c], ignore_index=True)
All_Y

     country    variable percentile  year         value  age pop
0         SC  sptinc992j    p90p100  1998  5.271000e-01  992   j
1         MU  sptinc992j    p90p100  1998  4.578000e-01  992   j
2         DZ  sptinc992j    p90p100  1998  4.193000e-01  992   j
3         TN  sptinc992j    p90p100  1998  4.888000e-01  992   j
4         BW  sptinc992j    p90p100  1998  6.949000e-01  992   j
...      ...         ...        ...   ...           ...  ...  ..
6907      RW  npopul999i     p0p100  2015  1.136907e+07  999   i
6908      NG  npopul999i     p0p100  2015  1.811374e+08  999   i
6909      TZ  npopul999i     p0p100  2015  5.004145e+07  999   i
6910      UG  npopul999i     p0p100  2015  3.822545e+07  999   i
6911      MR  npopul999i     p0p100  2015  4.046301e+06  999   i

[6912 rows x 7 columns]

In [223]:
import datapackage
data_url = 'https://datahub.io/core/corruption-perceptions-index/datapackage.json'
package = datapackage.Package(data_url)
resources = package.resources
for resource in resources:
    if resource.tabular:
        CPIData = pd.read_csv(resource.descriptor['path'])
CPI_CC = pd.DataFrame(columns = CPIData.columns)
for c in Af_CC['titlename']:
    CPI_CC = CPI_CC.append(CPIData.loc[CPIData['Jurisdiction'] == c], ignore_index=True)
CPI_CC.head()

,Jurisdiction,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Seychelles,-,-,-,-,-,-,4.4,4,3.6,4.5,4.8,4.8,4.8,4.82,52,54,55,55
1,Mauritius,5,4.9,4.7,4.5,4.5,4.4,4.1,4.2,5.1,4.7,5.5,5.4,5.4,5.07,57,52,54,53
2,Algeria,-,-,-,-,-,2.6,2.7,2.8,3.1,3,3.2,2.8,2.9,2.9,34,36,36,36
3,Tunisia,5,5,5.2,5.3,4.8,4.9,5,4.9,4.6,4.2,4.4,4.2,4.3,3.76,41,41,40,38
4,Botswana,6.1,6.1,6,6,6.4,5.7,6,5.9,5.6,5.4,5.8,5.6,5.8,6.08,65,64,63,63

In [281]:
#Adding Country Codes
CPI_CC['CC'] = Af_CC['alpha2']
CPI_CC.head()

,Jurisdiction,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,CC
0,Seychelles,-,-,-,-,-,-,4.4,4,3.6,4.5,4.8,4.8,4.8,4.82,52,54,55,55,SC
1,Mauritius,5,4.9,4.7,4.5,4.5,4.4,4.1,4.2,5.1,4.7,5.5,5.4,5.4,5.07,57,52,54,53,MU
2,Algeria,-,-,-,-,-,2.6,2.7,2.8,3.1,3,3.2,2.8,2.9,2.9,34,36,36,36,DZ
3,Tunisia,5,5,5.2,5.3,4.8,4.9,5,4.9,4.6,4.2,4.4,4.2,4.3,3.76,41,41,40,38,TN
4,Botswana,6.1,6.1,6,6,6.4,5.7,6,5.9,5.6,5.4,5.8,5.6,5.8,6.08,65,64,63,63,BW

In [250]:
# Reformatting CPI
CPI_J = CPI_CC[['Jurisdiction', 'CC']]
CPI_Y = CPI_CC.iloc[:,1:19]
CPI_Y.T
SeyCPI = CPI_J.merge(CPI_Y, how = 'cross')
SeyCPI.head()

,Jurisdiction,CC,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Seychelles,SC,-,-,-,-,-,-,4.4,4,3.6,4.5,4.8,4.8,4.8,4.82,52,54,55,55
1,Seychelles,SC,5,4.9,4.7,4.5,4.5,4.4,4.1,4.2,5.1,4.7,5.5,5.4,5.4,5.07,57,52,54,53
2,Seychelles,SC,-,-,-,-,-,2.6,2.7,2.8,3.1,3,3.2,2.8,2.9,2.9,34,36,36,36
3,Seychelles,SC,5,5,5.2,5.3,4.8,4.9,5,4.9,4.6,4.2,4.4,4.2,4.3,3.76,41,41,40,38
4,Seychelles,SC,6.1,6.1,6,6,6.4,5.7,6,5.9,5.6,5.4,5.8,5.6,5.8,6.08,65,64,63,63

In [283]:
## Making the Completly Combined Data Set
Comb = pd.DataFrame(columns = All_Y.columns)
years = ['Jurisdiction', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
        '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
        '2014', '2015', 'CC']
for con in range(0,24):
    for c in range(1,19):
        temp = pd.DataFrame({
        'country' : [CPI_CC['CC'][con]],
        'variable' : ['CPI'],
        'percentile' : ['NA'],
        'year' : [(1997+c)],
        'age' : ['NA'],
        'value' : [CPI_CC[years[c]][con]],
        'pop' : ['NA']
        })
        Comb = Comb.append(temp)

   country variable percentile  year value age pop
0       SC      CPI         NA  1998     -  NA  NA
0       SC      CPI         NA  1999     -  NA  NA
0       SC      CPI         NA  2000     -  NA  NA
0       SC      CPI         NA  2001     -  NA  NA
0       SC      CPI         NA  2002     -  NA  NA
..     ...      ...        ...   ...   ...  ..  ..
0       MR      CPI         NA  2011  2.43  NA  NA
0       MR      CPI         NA  2012    31  NA  NA
0       MR      CPI         NA  2013    30  NA  NA
0       MR      CPI         NA  2014    30  NA  NA
0       MR      CPI         NA  2015    31  NA  NA

[432 rows x 7 columns]

In [285]:
CIdata = All_Y.append(Comb)
CIdata

   country    variable percentile  year   value  age pop
0       SC  sptinc992j    p90p100  1998  0.5271  992   j
1       MU  sptinc992j    p90p100  1998  0.4578  992   j
2       DZ  sptinc992j    p90p100  1998  0.4193  992   j
3       TN  sptinc992j    p90p100  1998  0.4888  992   j
4       BW  sptinc992j    p90p100  1998  0.6949  992   j
..     ...         ...        ...   ...     ...  ...  ..
0       MR         CPI         NA  2011    2.43   NA  NA
0       MR         CPI         NA  2012      31   NA  NA
0       MR         CPI         NA  2013      30   NA  NA
0       MR         CPI         NA  2014      30   NA  NA
0       MR         CPI         NA  2015      31   NA  NA

[7344 rows x 7 columns]

## Exploritory Analysis