# Joshua Milliken

## Best Inequality Statistic for Corruption Perception Predictions

Looking at many inequality indicators and finding which has the highest correlation with the Corruption Perception Index (CPI).

In [89]:
import pandas as pd
import datapackage
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from project_functions1 import load_and_process

## Exploritory Analysis

In [90]:
CID = load_and_process()

In [91]:
CID

   country    variable percentile  year   value  age pop
0       SC  sptinc992j    p90p100  1998  0.5271  992   j
1       MU  sptinc992j    p90p100  1998  0.4578  992   j
2       DZ  sptinc992j    p90p100  1998  0.4193  992   j
3       TN  sptinc992j    p90p100  1998  0.4888  992   j
4       BW  sptinc992j    p90p100  1998  0.6949  992   j
..     ...         ...        ...   ...     ...  ...  ..
0       SC         CPI         NA  2011    4.82   NA  NA
0       SC         CPI         NA  2012      52   NA  NA
0       SC         CPI         NA  2013      54   NA  NA
0       SC         CPI         NA  2014      55   NA  NA
0       SC         CPI         NA  2015      55   NA  NA

[6930 rows x 7 columns]

In [85]:
SC = CID.loc[CID['country'] == 'SC']
SC_CPI = SC.loc[SC['variable'] == 'CPI']
SC_99 = SC.loc[SC['percentile'] == 'p99p100']
SC_CPI99 = SC_CPI
temp = SC_99['value'].tolist()
SC_CPI99['p99'] = temp
SC_CPI99

C:\Users\jtleg\AppData\Local\Temp/ipykernel_16184/687002463.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SC_CPI99['p99'] = temp

  country variable percentile  year value age pop     p99
0      SC      CPI         NA  1998     -  NA  NA  0.2231
0      SC      CPI         NA  1999     -  NA  NA  0.2231
0      SC      CPI         NA  2000     -  NA  NA  0.2206
0      SC      CPI         NA  2001     -  NA  NA  0.2181
0      SC      CPI         NA  2002     -  NA  NA  0.2156
0      SC      CPI         NA  2003     -  NA  NA  0.2131
0      SC      CPI         NA  2004   4.4  NA  NA  0.2106
0      SC      CPI         NA  2005     4  NA  NA  0.2081
0      SC      CPI         NA  2006   3.6  NA  NA  0.2056
0      SC      CPI         NA  2007   4.5  NA  NA  0.2056
0      SC      CPI         NA  2008   4.8  NA  NA  0.2056
0      SC      CPI         NA  2009   4.8  NA  NA  0.2056
0      SC      CPI         NA  2010   4.8  NA  NA  0.2056
0      SC      CPI         NA  2011  4.82  NA  NA  0.2056
0      SC      CPI         NA  2012    52  NA  NA  0.2056
0      SC      CPI         NA  2013    54  NA  NA  0.2056
0      SC      CPI         NA  2014    55  NA  NA  0.2056
0      SC      CPI         NA  2015    55  NA  NA  0.2056

Empty DataFrame
Columns: [country, variable, percentile, year, value, age, pop]
Index: []