# Joshua Milliken

## Best Inequality Statistic for Corruption Perception Predictions

Looking at many inequality indicators and finding which has the highest correlation with the Corruption Perception Index (CPI).

In [117]:
import datapackage
import pandas as pd

data_url = 'https://datahub.io/core/corruption-perceptions-index/datapackage.json'

package = datapackage.Package(data_url)

resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        print (data)

    Jurisdiction 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009  \
0    Afghanistan    -    -    -    -    -    -    -  2.5    -  1.8  1.5  1.3
1        Albania    -  2.3    -    -  2.5  2.5  2.5  2.4  2.6  2.9  3.4  3.2
2        Algeria    -    -    -    -    -  2.6  2.7  2.8  3.1    3  3.2  2.8
3         Angola    -    -  1.7    -  1.7  1.8    2    2  2.2  2.2  1.9  1.9
4      Argentina    3    3  3.5  3.5  2.8  2.5  2.5  2.8  2.9  2.9  2.9  2.9
..           ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
222     Viet Nam    -    -    -    -    -    -    -    -  2.6  2.6  2.7    -
223        Yemen    -    -    -    -    -  2.6  2.4  2.7  2.6  2.5  2.3  2.1
224   Yugoslavia    3    2  1.3    -    -    -    -    -    -    -    -    -
225       Zambia  3.5  3.5  3.4  2.6  2.6  2.5  2.6  2.6  2.6  2.6  2.8    3
226     Zimbabwe  4.2  4.1    3  2.9  2.7  2.3  2.3  2.6  2.4  2.1  1.8  2.2

    2010  2011 2012 2013 2014 2015
0    1.4  1.52    8    8   12   11
1    3.3  3.05   33   31   33   36
2    2.9   2.9   34   36   36   36
3    1.9  2.01   22   23   19   15
4    2.9     3   35   34   34   32
..   ...   ...  ...  ...  ...  ...
222    -     -    -    -    -    -
223  2.2  2.08   23   18   19   18
224    -     -    -    -    -    -
225    3   3.2   37   38   38   38
226  2.4  2.23   20   21   21   21

[227 rows x 19 columns]
    Jurisdiction 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009  \
0    Afghanistan    -    -    -    -    -    -    -  2.5    -  1.8  1.5  1.3
1        Albania    -  2.3    -    -  2.5  2.5  2.5  2.4  2.6  2.9  3.4  3.2
2        Algeria    -    -    -    -    -  2.6  2.7  2.8  3.1    3  3.2  2.8
3         Angola    -    -  1.7    -  1.7  1.8    2    2  2.2  2.2  1.9  1.9
4      Argentina    3    3  3.5  3.5  2.8  2.5  2.5  2.8  2.9  2.9  2.9  2.9
..           ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
222     Viet Nam    -    -    -    -    -    -    -    -  2.6  2.6  2.7    -
223        Yemen    -    -    -    -    -  2.6  2.4  2.7  2.6  2.5  2.3  2.1
224   Yugoslavia    3    2  1.3    -    -    -    -    -    -    -    -    -
225       Zambia  3.5  3.5  3.4  2.6  2.6  2.5  2.6  2.6  2.6  2.6  2.8    3
226     Zimbabwe  4.2  4.1    3  2.9  2.7  2.3  2.3  2.6  2.4  2.1  1.8  2.2

    2010  2011 2012 2013 2014 2015
0    1.4  1.52    8    8   12   11
1    3.3  3.05   33   31   33   36
2    2.9   2.9   34   36   36   36
3    1.9  2.01   22   23   19   15
4    2.9     3   35   34   34   32
..   ...   ...  ...  ...  ...  ...
222    -     -    -    -    -    -
223  2.2  2.08   23   18   19   18
224    -     -    -    -    -    -
225    3   3.2   37   38   38   38
226  2.4  2.23   20   21   21   21

[227 rows x 19 columns]

In [146]:

import pandas as pd
#There are a lot of files, just showing I know how to load them from our repo.
#WID_CC_url = 'https://raw.githubusercontent.com/data301-2021-winter1/group35-project/main/data/raw/WID_countries.csv?token=AVQ3CKO3YZOML76IZ4R736LBOMI5Y'
WID_CC = pd.read_csv('../data/raw/WID_countries.csv', sep = ";")
#WID_CC.filter(like = 'AM', axis  = 0)
WID_CC.head()

,alpha2,titlename,shortname,region,region2
0,AM,Armenia,Armenia,Asia,Western Asia
1,AN,the Netherlands Antilles,Netherlands Antilles,Americas,Caribbean
2,AO,Angola,Angola,Africa,Middle Africa
3,AR,Argentina,Argentina,Americas,South America
4,AS,American Samoa,American Samoa,Oceania,Oceania (excl. Australia and New Zealand)

In [119]:
for c in range(0, len(WID_CC[1])):
    if WID_CC[2][c] == "Seychelles":
        sey = c
        break

WID_CC.iloc[[sey]]

      0           1           2       3               4
203  SC  Seychelles  Seychelles  Africa  Eastern Africa

In [120]:
#WID_SC_url = 'https://raw.githubusercontent.com/data301-2021-winter1/group35-project/main/data/raw/WID_data_SC.csv?token=AVQ3CKP4L4ZREXV34IDYTULBOMSYA'
WID_SC = pd.read_csv("../data/raw/WID_data_SC.csv", sep = ";")

WID_SC.head()

  country    variable percentile  year   value  age pop
0      SC  sptinc992j      p0p63  1980  0.1909  992   j
1      SC  sptinc992j      p0p63  1981  0.1909  992   j
2      SC  sptinc992j      p0p63  1982  0.1909  992   j
3      SC  sptinc992j      p0p63  1983  0.1909  992   j
4      SC  sptinc992j      p0p63  1984  0.1909  992   j

In [121]:
#Finding all the variables
varlist = []
for c in range(0, len(WID_SC['variable'])):
    if WID_SC['variable'][c] not in varlist:
        varlist.append(WID_SC['variable'][c])

varlist

['sptinc992j',
 'aptinc992j',
 'tptinc992j',
 'ataxnx999i',
 'mptfrn999i',
 'apinpx999i',
 'bptinc992j',
 'agpsgo992i',
 'npopul901i',
 'tfiinc992i',
 'medugo999i',
 'npopul202i',
 'afiinc992i',
 'npopul051f',
 'npopul902f',
 'acompx992i',
 'asopgo999i',
 'npopul997f',
 'mflcip999i',
 'npopul351m',
 'npopul601f',
 'aptfrp999i',
 'npopul651m',
 'aconfc999i',
 'mfdirx999i',
 'npopul802m',
 'npopul994f',
 'aflcir999i',
 'npopul151i',
 'aptfrr999i',
 'aconfc992i',
 'npopul001m',
 'bfiinc992i',
 'mptfrp999i',
 'ntaxto992i',
 'npopul201i',
 'mcomnx999i',
 'npopul151m',
 'npopul202m',
 'npopul451f',
 'npopul801m',
 'npopul995f',
 'apinrx992i',
 'mconfc999i',
 'npopul001i',
 'xlcusp999i',
 'ahougo992i',
 'npopul994i',
 'sfiinc992i',
 'npopul702m',
 'apolgo992i',
 'aothgo999i',
 'afiinc992t',
 'mfiinc999i',
 'aptfon992i',
 'aptfrx992i',
 'acomrx999i',
 'mcompx999i',
 'npopul998i',
 'npopul951i',
 'aflcip992i',
 'npopul998f',
 'npopul701m',
 'npopul551m',
 'mpinnx999i',
 'npopul601m',
 'npopul251m',
 'npopul301i',
 'npopul751i',
 'afdinx999i',
 'menvgo999i',
 'mgninc999i',
 'npopul991f',
 'mndpro999i',
 'arecgo999i',
 'npopul999m',
 'acongo992i',
 'npopul101i',
 'npopul751f',
 'apolgo999i',
 'aftaxx992i',
 'aptfpx999i',
 'afdirx999i',
 'agpsgo999i',
 'mnninc999i',
 'aptfop992i',
 'npopul401f',
 'mpolgo999i',
 'aflcin992i',
 'aflcip999i',
 'apinnx999i',
 'acomnx992i',
 'afsubx992i',
 'aptfrn999i',
 'npopul202f',
 'mdefgo999i',
 'apinnx992i',
 'afinrx992i',
 'npopul602m',
 'npopul992i',
 'mothgo999i',
 'ntaxre999t',
 'npopul501f',
 'agdpro999i',
 'npopul997m',
 'npopul901f',
 'mcomrx999i',
 'npopul001f',
 'xlcyup999i',
 'aedugo992i',
 'npopul902m',
 'npopul951m',
 'mnnfin999i',
 'mfinrx999i',
 'adefgo999i',
 'ataxnx992i',
 'aothgo992i',
 'aptfrn992i',
 'xlceux999i',
 'ahougo999i',
 'apinpx992i',
 'npopul402f',
 'npopul051i',
 'npopul302i',
 'acongo999i',
 'aptfnx992i',
 'mecogo999i',
 'mftaxx999i',
 'npopul451i',
 'afdinx992i',
 'aptfop999i',
 'mptfrr999i',
 'mfsubx999i',
 'aenvgo999i',
 'mhougo999i',
 'npopul999i',
 'andpro999i',
 'npopul351i',
 'afsubx999i',
 'mgpsgo999i',
 'npopul101f',
 'aptfpx992i',
 'npopul201f',
 'npopul501m',
 'mpinpx999i',
 'npopul701i',
 'aflcin999i',
 'npopul851f',
 'npopul997i',
 'aheago999i',
 'mfdinx999i',
 'npopul501i',
 'npopul995m',
 'mptfpx999i',
 'npopul702f',
 'aptfor999i',
 'gptinc992j',
 'aedugo999i',
 'npopul991i',
 'npopul991m',
 'npopul651i',
 'aptfor992i',
 'acomnx999i',
 'mptfop999i',
 'npopul602f',
 'npopul901m',
 'aptfrx999i',
 'npopul111m',
 'npopul301m',
 'afinrx999i',
 'afdipx999i',
 'agninc999i',
 'aflcir992i',
 'npopul201m',
 'npopul402i',
 'mcongo999i',
 'npopul401i',
 'annfin992i',
 'npopul995i',
 'npopul111f',
 'aftaxx999i',
 'aptfrp992i',
 'apinrx999i',
 'mfdipx999i',
 'npopul151f',
 'npopul251i',
 'aenvgo992i',
 'npopul111i',
 'mptfnx999i',
 'npopul551i',
 'mptfrx999i',
 'npopul302f',
 'npopul993m',
 'xlceup999i',
 'npopul751m',
 'mptfon999i',
 'npopul402m',
 'mflcir999i',
 'adefgo992i',
 'aecogo999i',
 'npopul251f',
 'mgdpro999i',
 'npopul401m',
 'xlcyux999i',
 'arecgo992i',
 'afdipx992i',
 'npopul451m',
 'npopul351f',
 'npopul802f',
 'npopul651f',
 'npopul602i',
 'aheago992i',
 'inyixx999i',
 'andpro992i',
 'msopgo999i',
 'npopul992m',
 'aecogo992i',
 'npopul551f',
 'aptfon999i',
 'mflcin999i',
 'annfin999i',
 'npopul601i',
 'npopul999f',
 'mpinrx999i',
 'asopgo992i',
 'npopul101m',
 'agninc992i',
 'npopul702i',
 'npopul994m',
 'npopul502i',
 'npopul992f',
 'npopul993i',
 'acompx999i',
 'npopul851i',
 'afdirx992i',
 'anninc992i',
 'npopul951f',
 'npopul701f',
 'acomrx992i',
 'ntaxma992t',
 'xlcusx999i',
 'afinpx992i',
 'npopul801f',
 'mrecgo999i',
 'npopul996f',
 'aptfnx999i',
 'npopul301f',
 'mheago999i',
 'afinpx999i',
 'mptfor999i',
 'npopul998m',
 'mtaxnx999i',
 'npopul302m',
 'npopul993f',
 'npopul851m',
 'npopul051m',
 'npopul502f',
 'npopul802i',
 'anninc999i',
 'agdpro992i',
 'aptfrr992i',
 'npopul502m',
 'npopul902i',
 'mfinpx999i',
 'npopul801i',
 'npopul996m']

In [122]:
#Finding Key Percentiles
KeyPer = ["p90p100", "p50p90", "p0p50", "p99p100", ]
SCV = pd.DataFrame(columns = WID_SC.columns)
for c in KeyPer:
    SCV = SCV.append(WID_SC.loc[WID_SC["variable"] == 'sptinc992j'].loc[WID_SC["percentile"] == c], ignore_index=True)
SCV
{'sptinc992j' : 'Share Nat. Income'}

{'sptinc992j': 'Share Nat. Income'}

In [123]:
#Finding Key Income/Welath Variables
KeyIW = ['anninc992i', 'agdpro992i', 'anweal992i', 'wwealn999i', 'rptinc992j', 'npopul999i']
KeyIWD = {
    'anninc992i' : 'Nat. Income',
    'agdpro992i': 'GDP',
    'anweal992i' : 'Nat. Wealth',
    'wwealn999i': 'Nat. Wealth to Income',
    'rptinc992j': 't10/b50 ratio', 
    'npopul999i' : 'Population'}
SCIW = pd.DataFrame(columns = WID_SC.columns)
for c in KeyIWD:
    SCIW = SCIW.append(WID_SC.loc[WID_SC["variable"] == c], ignore_index=True)
SCIW

    country    variable percentile  year    value  age pop
0        SC  anninc992i     p0p100  1950  52678.8  992   i
1        SC  anninc992i     p0p100  1951  55599.8  992   i
2        SC  anninc992i     p0p100  1952  57412.9  992   i
3        SC  anninc992i     p0p100  1953  59617.1  992   i
4        SC  anninc992i     p0p100  1954  62847.2  992   i
..      ...         ...        ...   ...      ...  ...  ..
205      SC  npopul999i     p0p100  2015  94978.0  999   i
206      SC  npopul999i     p0p100  2016  95710.0  999   i
207      SC  npopul999i     p0p100  2017  96418.0  999   i
208      SC  npopul999i     p0p100  2018  97096.0  999   i
209      SC  npopul999i     p0p100  2019  97739.0  999   i

[210 rows x 7 columns]

In [127]:
## Raname all the values
SCIW['variable'].replace(KeyIWD, inplace = True)
SCV['variable'].replace({'sptinc992j' : 'Share Nat. Income'}, inplace=True)
Asc = pd.concat([SCV, SCIW], ignore_index = True)
Asc

    country           variable percentile  year       value  age pop
0        SC  Share Nat. Income    p90p100  1980      0.5271  992   j
1        SC  Share Nat. Income    p90p100  1981      0.5271  992   j
2        SC  Share Nat. Income    p90p100  1982      0.5271  992   j
3        SC  Share Nat. Income    p90p100  1983      0.5271  992   j
4        SC  Share Nat. Income    p90p100  1984      0.5271  992   j
..      ...                ...        ...   ...         ...  ...  ..
365      SC         Population     p0p100  2015  94978.0000  999   i
366      SC         Population     p0p100  2016  95710.0000  999   i
367      SC         Population     p0p100  2017  96418.0000  999   i
368      SC         Population     p0p100  2018  97096.0000  999   i
369      SC         Population     p0p100  2019  97739.0000  999   i

[370 rows x 7 columns]

In [129]:
## Get only years 1998-2019
Asc = Asc.loc[Asc['year'].between(1998, 2020)]
# Asc['year'].between(1998, 2020)
Asc

    country           variable percentile  year       value  age pop
18       SC  Share Nat. Income    p90p100  1998      0.5271  992   j
19       SC  Share Nat. Income    p90p100  1999      0.5271  992   j
20       SC  Share Nat. Income    p90p100  2000      0.5262  992   j
21       SC  Share Nat. Income    p90p100  2001      0.5253  992   j
22       SC  Share Nat. Income    p90p100  2002      0.5244  992   j
..      ...                ...        ...   ...         ...  ...  ..
365      SC         Population     p0p100  2015  94978.0000  999   i
366      SC         Population     p0p100  2016  95710.0000  999   i
367      SC         Population     p0p100  2017  96418.0000  999   i
368      SC         Population     p0p100  2018  97096.0000  999   i
369      SC         Population     p0p100  2019  97739.0000  999   i

[154 rows x 7 columns]

# All Countries

In [145]:
import pandas as pd
WID_CC = pd.read_csv('../data/raw/WID_countries.csv', sep = ";")
WID_CC.rename({})
WID_CC.head()

,alpha2,titlename,shortname,region,region2
0,AM,Armenia,Armenia,Asia,Western Asia
1,AN,the Netherlands Antilles,Netherlands Antilles,Americas,Caribbean
2,AO,Angola,Angola,Africa,Middle Africa
3,AR,Argentina,Argentina,Americas,South America
4,AS,American Samoa,American Samoa,Oceania,Oceania (excl. Australia and New Zealand)

In [163]:
AfDev = pd.read_csv('../data/raw/AfricanDevelopment.csv')
AfDev = AfDev[0:27]
AfDev

                  country  humanDevelopmentIndex     pop2021
0              Seychelles                  0.801      98.908
1               Mauritius                  0.796    1273.433
2                 Algeria                  0.759   44616.624
3                 Tunisia                  0.739   11935.766
4                Botswana                  0.728    2397.241
5                   Libya                  0.708    6958.532
6            South Africa                  0.705   60041.994
7                   Gabon                  0.702    2278.825
8                   Egypt                  0.700  104258.327
9                 Morocco                  0.676   37344.795
10                Namibia                  0.645    2587.344
11  Sao Tome and Principe                  0.609     223.368
12  Republic of the Congo                  0.608    5657.013
13               Eswatini                  0.608    1172.362
14                  Ghana                  0.596   31732.129
15                 Zambia                  0.591   18920.651
16      Equatorial Guinea                  0.588    1449.896
17                  Kenya                  0.579   54985.698
18                 Angola                  0.574   33933.610
19               Cameroon                  0.563   27224.265
20               Zimbabwe                  0.563   15092.171
21                Comoros                  0.538     888.451
22                 Rwanda                  0.536   13276.513
23                Nigeria                  0.534  211400.708
24               Tanzania                  0.528   61498.437
25                 Uganda                  0.528   47123.531
26             Mauritania                  0.527    4775.119

In [164]:
Af_CC = pd.DataFrame(columns = WID_CC.columns)
for c in AfDev['country']:
    Af_CC = Af_CC.append(WID_CC.loc[WID_CC['titlename'] == c], ignore_index=True)
Af_CC

,alpha2,titlename,shortname,region,region2
0,SC,Seychelles,Seychelles,Africa,Eastern Africa
1,MU,Mauritius,Mauritius,Africa,Eastern Africa
2,DZ,Algeria,Algeria,Africa,Northern Africa
3,TN,Tunisia,Tunisia,Africa,Northern Africa
4,BW,Botswana,Botswana,Africa,Southern Africa
5,LY,Libya,Libya,Africa,Northern Africa
6,ZA,South Africa,South Africa,Africa,Southern Africa
7,GA,Gabon,Gabon,Africa,Middle Africa
8,EG,Egypt,Egypt,Africa,Northern Africa
9,MA,Morocco,Morocco,Africa,Northern Africa
10,NaN,Namibia,Namibia,Africa,Southern Africa
11,ST,Sao Tome and Principe,Sao Tome and Principe,Africa,Middle Africa
12,GH,Ghana,Ghana,Africa,Western Africa
13,ZM,Zambia,Zambia,Africa,Eastern Africa
14,GQ,Equatorial Guinea,Equatorial Guinea,Africa,Middle Africa
15,KE,Kenya,Kenya,Africa,Eastern Africa
16,AO,Angola,Angola,Africa,Middle Africa
17,CM,Cameroon,Cameroon,Africa,Middle Africa
18,ZW,Zimbabwe,Zimbabwe,Africa,Eastern Africa
19,KM,Comoros,Comoros,Africa,Eastern Africa
20,RW,Rwanda,Rwanda,Africa,Eastern Africa
21,NG,Nigeria,Nigeria,Africa,Western Africa
22,TZ,Tanzania,Tanzania,Africa,Eastern Africa
23,UG,Uganda,Uganda,Africa,Eastern Africa
24,MR,Mauritania,Mauritania,Africa,Western Africa